.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  max-width: var(--pageMax);
  margin: 1rem auto 2rem;
  padding: 0 2rem;
}

.head h1 {
  margin: 0;
  padding: 0;
}

.head h2 {
  font-family: var(--monoType);
  font-size: 1.25rem;
  margin-left: -0.25rem;
  display: inline;
  border-radius: 48px;
  padding: 0.25rem 0.75rem;
}

.nav {
  text-align: right;
}

.nav a {
  font-family: var(--monoType);
  text-decoration: none;
  color: #222;
  display: inline-block;
}

.logo {
  font-size: 2.5rem;
}

.magenta h2,
.magenta a.active {
  background-color: var(--pink);
}

.yellow h2,
.yellow a.active {
  background-color: var(--yellow);
}

.blue h2,
.blue a.active {
  background-color: var(--brightBlue);
}

.green h2,
.green a.active {
  background-color: var(--green);
}

@media (max-width: 500px) {
  .logo {
    font-size: 2rem;
  }

  .head {
    padding: 0 1rem;
  }

  .head h2 {
    font-size: 1rem;
  }
}