.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  max-width: var(--pageMax);
  margin: 1rem auto 2rem;
  padding: 0 2rem;
}

.head h1 {
  margin: 0;
  padding: 0;
}

.head h2 {
  font-family: var(--monoType);
  font-size: 1.25rem;
  margin-left: -0.25rem;
  display: inline;
  border-radius: 48px;
  padding: 0.25rem 0.75rem;
}

.nav {
  text-align: right;
}

.nav a {
  font-family: var(--monoType);
  text-decoration: none;
  color: #222;
  display: inline-block;
  border-radius: 50px;
  padding: 0 0.5rem;
}

.logo {
  font-size: 2.5rem;
}

.magenta {
  --activeColor: var(--pink);
}

.yellow {
  --activeColor: var(--yellow);
}

.blue {
  --activeColor: var(--brightBlue);
}

.green {
  --activeColor: var(--green);
}

.head h2 {
  background-color: var(--activeColor);
}

.active {
  border: 2px solid var(--activeColor);
}

.superHeader {
  color: rgb(118, 118, 118);
  font-size: 12px;
  margin: 0 0 -0.5rem;
  margin-left: 0.25rem;
}

.webdev {
  height: 1rem;
  vertical-align: middle;
}

@media (max-width: 500px) {
  .logo {
    font-size: 2rem;
  }

  .head {
    padding: 0 1rem;
  }

  .head h2 {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .superHeader {
    color: #bec6d0;
  }

  .superHeader img {
    filter: brightness(2)
  }
}

@media (prefers-color-scheme: dark) {
  .nav a {
    color: white;
  }
}