.filter {
  max-width: var(--pageMax);
  margin: 1rem auto 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.title {
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  font-family: var(--monoType);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: white;
  }
}

.filterTags {
  padding: 0 0.25rem;
}
