.button {
  text-align: right;
  padding: 0.25rem 0.5rem;
  border: none;
  outline: none;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  justify-self: flex-end;
  text-decoration: none;
  color: #222;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.link {
  text-decoration: none;
  color: initial;
  display: inline-block;
}

.resource {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .link {
    color: white;
  }

  .button {
    background-color: #b2b8c8;
  }
}
