.container {
  max-width: 800px;
  margin: 0 auto 4rem;
}

[type="demo"] .card {
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  border-radius: 10px;
}

[type="resource"] {
  box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.demoArea {
  display: grid;
  background: white;
  place-items: center;
}

.demoText {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  word-break: break-word;
  overflow: hidden;
}

.links {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: end;
  padding: 0.75rem;
  width: 100%;
  background: #e1e1e1;
  border-radius: 0 0 10px 10px;
  border: 1px solid #b8b8b8;
}

.cardAction {
  background: white;
  border: 1px solid lightgray;
  color: #222;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
  transition-duration: 0.25s;
  padding: 0.25em 0.5em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
}

.cardAction:hover {
  color: white;
  background: #77f;
  border-color: #337;
}

/* .copied:after {
  content: 'copied!';
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  right: 0;
  font-size: 80%;
  color: #77f;
} */

.inputVal {
  display: inline-block;
  margin: 0 0.25rem 0 1rem;
  padding: 0 0.25rem;
  color: var(--brightBlue);
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.05);
  border-bottom: dotted 2px magenta;
  outline: none;
}

.inputVal:focus {
  outline: 2px solid magenta;
  border-bottom-color: transparent;
}

.input {
  display: grid;
  grid-template-columns: auto 1fr;
}

.rangeSlider {
  max-width: 100px;
  justify-self: end;
  align-self: center;
  appearance: none;
  width: 100%;
  height: 2px;
  background: darkgray;
  outline: none;
}

.rangeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--brightBlue);
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.rangeSlider:focus {
  background: white;
}

.rangeSlider::-webkit-slider-thumb:active {
  transform: scale(1);
  background: #5cc9f5;
}

.rangeSlider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--brightBlue);
  cursor: pointer;
  transform: scale(1.2);
  transition-duration: 0.2s;
}

.rangeSlider::-moz-range-thumb:active {
  transform: scale(1);
  background: #5cc9f5;
}

.customProps {
  margin: 0;
  padding: 0;
  background: #222;
  color: white;
  font: 100%/1.2 'Source Code Pro', menlo, monaco, monospace;
  font-size: 1rem;
  counter-reset: section;
}

.customProps li {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0.5rem 1.25rem 0.5rem 3rem;
  position: relative;
}

.customProps li:nth-child(even) {
  background: #333;
}

.customProps li:first-child,
.customProps li:last-child {
  padding-left: 2rem;
}

.customProps li:before {
  counter-increment: section;
  content: counters(section, ".") " ";
  position: absolute;
  left: .75rem;
  margin-top: 9px;
  color: dimgray;
}

.inputVal {
  position: relative;
}

.inputVal:after {
  content: ';';
  color: white;
  position: absolute;
}

.name {
  margin: 0;
}

.demoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.resourceContainer {
  padding: 2rem;
  position: relative;
  display: grid;
}

.resourceContainer p {
  max-width: 46ch;
}

[type="resource"] h2 {
  max-width: 46ch;;
}

@media (max-width: 600px) {
  .demoText {
    font-size: 2rem;
    padding: 1rem;
  }
}