@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {
  --brightBlue: #00ddff;
  --skyBlue: color: #2196F3;
  --monoType: 'Roboto Mono', 'Source Code Pro', Menlo, Monaco, monospace;
}

/**
 * Minified by jsDelivr using clean-css v4.2.3.
 * Original file: /npm/modern-normalize@1.0.0/modern-normalize.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

body {
  font-family: system-ui, sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

a {
  color: var(--skyBlue);
}

h1 {
  font-family: var(--monoType);
  font-weight: 400;
}

pre {
  background: #ecf2f6;
  padding: 1rem;
  border: 1px solid #c2cee4;
  border-radius: 5px;
  position: relative;
}

code {
  font: 100%/1.2 var(--monoType);
}

ul, ol {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}