.tags {
  align-items: end;
  display: grid;
  width: calc(100% - 4rem);
  max-width: var(--cardMax);
  margin: 0 auto 4rem;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.reset {
  margin-left: 0;
  margin-right: auto;
  border-radius: 48px;
  border: 1px solid rgb(247, 37, 37);
  background-color: rgba(247, 37, 37, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0.5rem;
  color: #222;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  cursor: pointer;
}
