.author {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.meta {
  display: grid;
  grid-template-columns: 70px 50ch auto;
  margin-bottom: 1rem;
  align-items: center;
}

.meta p,
.meta h2 {
  margin: 0;
}

.meta p {
  font-size: 85%;
  color: dimgray;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tags {
  align-items: end;
  display: grid;
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin: 0;
}

.tags li {
  border-width: 1px;
  border-style: solid;
  border-radius: 48px;
  padding: 0.5rem;
  line-height: 1;
  display: grid;
}

.tags a {
  color: #222;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.paint {
  border-color: #eb95a4;
  background: #fff1ff;
}

.props {
  border-color: #DA9A0B;
  background: #ffefc8;
}

.layout {
  border-color: #7eb8e4;
  background: #e0edfe;
}

.animation {
  border-color: #7bbf95;
  background: #ccebd1;
}

.typed {
  border-color: #c193e3;
  background: #f1eaff;
}

.meta {
  padding: 2rem 0;
}

[type="resource"] .meta {
  padding: 2rem 2rem 0;
  grid-template-columns: 70px 40ch auto;
}

.meta .title {
  line-height: 1.4;
}

@media (max-width: 900px) {
  .meta {
    padding: 2rem 2rem 0;
  }
}

@media (max-width: 800px) {
  .tags a {
    font-size: 11px;
  }

  .tags li {
    padding: 0.25rem 0.5rem;
  }

  .meta {
    grid-template-columns: 70px auto auto;
  }

  [type="resource"] .meta {
    padding: 1rem 1rem 0;
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .meta {
    grid-template-columns: 70px auto;
  }

  .meta h2 {
    font-size: 1.25rem;
  }

  .tags {
    grid-column: 1 / span 2;
  }

  .tags ul {
    justify-content: start;
    margin-top: 1rem;
  }
}